<footer
  class="text-center py-6 sm:py-8 mt-8 sm:mt-12 border-t border-shakespeare-800 px-4"
>
  <p class="text-xs sm:text-sm text-slate-400">
    Diseñado y construido por Daybel Diaz con <a
      href="https://astro.build/"
      target="_blank"
      class="hover:text-shakespeare-300">Astro</a
    > y <a
      href="https://tailwindcss.com/"
      target="_blank"
      class="hover:text-shakespeare-300">Tailwind CSS</a
    >.
  </p>
</footer>
