---
import SectionTitle from "../SectionTitle.astro";
import ProjectsBadge from "../ProjectsBadge.astro";
---

<section
  id="proyectos"
  class="py-12 sm:py-16 md:py-20 lg:py-24 xl:py-28 px-4 sm:px-6 lg:px-8 animate-on-scroll"
>
  <div class="max-w-7xl mx-auto">
    <SectionTitle class="mb-12 sm:mb-16 lg:mb-20" titleKey="projects.title"
      >Proyectos</SectionTitle
    >

    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-8 lg:gap-10 xl:gap-12"
    >
      <ProjectsBadge
        name="Spendly"
        nameKey="projects.spendly.name"
        descriptionKey="projects.spendly.description"
        technologies={[
          "Java",
          "Spring Boot",
          "PostgreSQL",
          "Angular",
          "Dokploy",
          "Docker",
          "Swagger",
          "Spring Security",
          "Spring Data JPA",
        ]}
        category="Full-Stack"
        categoryKey="projects.spendly.category"
        images={[
          "spendly/Spendly.png",
          "spendly/EndpointsSpendly.png",
          "spendly/SpendlySideBar.png",
        ]}
        urlDemo="https://frontend.daybeldiaz.dev/"
        urlGit="https://github.com/Syo0131"
      />

      <ProjectsBadge
        name="El Pensum API"
        nameKey="projects.elpensum.name"
        descriptionKey="projects.elpensum.description"
        technologies={[
          "Spring Boot",
          "Spring Security",
          "PostgreSQL",
          "Dokploy",
          "Docker",
          "Swagger",
          "Spring Data JPA",
        ]}
        category="Backend"
        categoryKey="projects.elpensum.category"
        images={[
          "elpensum/pensumweb.png",
          "elpensum/elpensumAPI.png",
          "elpensum/EndpointsPensum.png",
        ]}
        urlDemo="https://backend.elpensum.com/swagger-ui/index.html"
        urlGit="https://github.com/Elpensum"
      />
    </div>
  </div>
</section>
