---
import SectionTitle from "../SectionTitle.astro";
import ProjectsBadge from "../ProjectsBadge.astro";
---

<section
  id="proyectos"
  class="py-12 sm:py-16 md:py-20 lg:py-24 xl:py-28 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-7xl mx-auto">
    <SectionTitle class="mb-12 sm:mb-16 lg:mb-20">Proyectos</SectionTitle>

    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-8 lg:gap-10 xl:gap-12"
    >
      <ProjectsBadge
        name="Spendly"
        description="Una aplicación web moderna desarrollada con Spring Boot y PostgreSQL para el control y seguimiento de gastos personales mensuales con una interfaz elegante y funcional."
        technologies={["Java", "Spring Boot", "PostgreSQL"]}
        category="Full-Stack"
        srcImage="image.png"
        urlDemo="https://spendly-ip4d.onrender.com/"
        urlGit="https://github.com/Syo0131/Spendly"
      />

      <ProjectsBadge
        name="Portafolio Personal"
        description="Sitio web ultra rápido construido con Astro para mostrar mis habilidades y proyectos."
        technologies={["Astro", "Tailwind CSS"]}
        category="Frontend"
        srcImage="yami.jpg"
        urlDemo="#"
        urlGit="https://github.com/Syo0131/Portafolio"
      />

    </div>
  </div>
</section>
