---
import Header from "../components/Sections/Header.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/Sections/AboutMe.astro";
import Experience from "../components/Sections/Experience.astro";
import Contact from "../components/Sections/Contact.astro";
import Projects from "../components/Sections/Projects.astro";
import Skill from "../components/Sections/Skill.astro";
import Footer from "../components/Sections/Footer.astro";
import Certifications from "../components/Sections/Certifications.astro";
---

<Layout title="Portafolio de Syo">
  <Header />
  <main>
    <AboutMe />
    <Experience />
    <Projects />
    <Skill />
    <Contact />
    <Footer />
  </main>
</Layout>
