---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.astro";
import Skill from "../components/Skill.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portafolio de Syo">
  <Header />
  <main>
    <AboutMe />
    <Experience />
    <Projects />
    <Skill />
    <Contact />
    <Footer />
  </main>
</Layout>
