---
import ExperienceTimeline from "./ExperienceTimeline.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="experiencia" class="py-12 sm:py-16 md:py-24 px-4 sm:px-6 lg:px-8">
  <SectionTitle>Experiencia</SectionTitle>
  <div class="max-w-3xl mx-auto relative">
    <div
      class="absolute left-4 sm:left-1/2 top-0 h-full w-0.5 bg-shakespeare-800"
    >
    </div>
    <ExperienceTimeline
      position="Desarrollador Full-Stack"
      company="BitBox Caribe SRL"
      period="Enero 2022 - Presente"
      alignment="right"
    />
    <ExperienceTimeline 
    position="Soporte HelpDesk"
    company="BitBox Caribe SRL"
    period="Marzo 2025 - Mayo 2025"
    alignment="left"
    />
  </div>
</section>
