<section id="experiencia" class="py-24 px-4">
  <h2 class="text-4xl font-bold text-center mb-16 text-shakespeare-200">
    Experiencia Laboral
  </h2>
  <div class="max-w-3xl mx-auto relative">
    <div class="absolute left-1/2 top-0 h-full w-0.5 bg-shakespeare-800"></div>

    <div class="relative mb-12">
      <div
        class="absolute left-1/2 -translate-x-1/2 w-4 h-4 bg-shakespeare-400 rounded-full ring-8 ring-slate-900"
      >
      </div>
      <div class="md:w-1/2 md:pr-8 md:text-right">
        <h3 class="text-2xl font-semibold text-slate-100">
          Desarrollador BackEnd Java
        </h3>
        <p class="text-lg text-shakespeare-400">BitBox Caribe SRL</p>
        <time class="block text-sm text-slate-400 mb-2"
          >Junio 2025 - Presente</time
        >
        <p class="text-slate-300">
        </p>
      </div>
    </div>
  </div>
</section>
