---
import { Icon } from "astro-icon/components";
---

<section id="habilidades" class="py-24 px-4">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-4xl font-bold text-center mb-16 text-shakespeare-200">
      Habilidades Técnicas
    </h2>

    <div class="mb-16">
      <h3 class="text-2xl font-semibold mb-8 text-center text-shakespeare-400">
        Frontend
      </h3>
      <div class="flex flex-wrap justify-center items-center gap-x-12 gap-y-8">
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:html5"
            class="size-16 mx-auto text-slate-300 group-hover:text-orange-500 transition-colors"
          />
          <p class="mt-2 text-sm">HTML5</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:css3"
            class="size-16 mx-auto text-slate-300 group-hover:text-blue-500 transition-colors"
          />
          <p class="mt-2 text-sm">CSS3</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:javascript"
            class="size-16 mx-auto text-slate-300 group-hover:text-yellow-300 transition-colors"
          />
          <p class="mt-2 text-sm">JavaScript</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:angular"
            class="size-16 mx-auto text-slate-300 group-hover:text-cyan-400 transition-colors"
          />
          <p class="mt-2 text-sm">Angular</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:astro"
            class="size-16 mx-auto text-slate-300 group-hover:text-cyan-400 transition-colors"
          />
          <p class="mt-2 text-sm">Astro</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:tailwindcss"
            class="size-16 mx-auto text-slate-300 group-hover:text-sky-400 transition-colors"
          />
          <p class="mt-2 text-sm">Tailwind CSS</p>
        </div>
      </div>
    </div>

    <div class="mb-16">
      <h3 class="text-2xl font-semibold mb-8 text-center text-shakespeare-400">
        Backend - Ecosistema Java
      </h3>
      <div class="flex flex-wrap justify-center items-center gap-x-12 gap-y-8">
        <div class="text-center group w-24">
          <Icon name="logos:java" class="size-16 mx-auto" />
          <p class="mt-2 text-sm">Java</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:springboot"
            class="size-16 mx-auto text-slate-300 group-hover:text-green-500 transition-colors"
          />
          <p class="mt-2 text-sm">Spring Boot</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:hibernate"
            class="size-16 mx-auto text-slate-300 group-hover:text-yellow-600 transition-colors"
          />
          <p class="mt-2 text-sm">Hibernate (JPA)</p>
        </div>
        <div class="text-center group w-24">
          <Icon
            name="simple-icons:flutter"
            class="size-16 mx-auto text-slate-300 group-hover:text-red-500 transition-colors"
          />
          <p class="mt-2 text-sm">Maven</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
      <div class="text-center">
        <h3 class="text-2xl font-semibold mb-8 text-shakespeare-400">
          Bases de Datos
        </h3>
        <div
          class="flex flex-wrap justify-center items-center gap-x-12 gap-y-8"
        >
          <div class="text-center group w-24">
            <Icon
              name="simple-icons:postgresql"
              class="size-16 mx-auto text-slate-300 group-hover:text-blue-400 transition-colors"
            />
            <p class="mt-2 text-sm">PostgreSQL</p>
          </div>
          <div class="text-center group w-24">
            <Icon
              name="simple-icons:mysql"
              class="size-16 mx-auto text-slate-300 group-hover:text-cyan-600 transition-colors"
            />
            <p class="mt-2 text-sm">MySQL</p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h3 class="text-2xl font-semibold mb-8 text-shakespeare-400">
          Herramientas
        </h3>
        <div
          class="flex flex-wrap justify-center items-center gap-x-12 gap-y-8"
        >
          <div class="text-center group w-24">
            <Icon
              name="simple-icons:git"
              class="size-16 mx-auto text-slate-300 group-hover:text-orange-600 transition-colors"
            />
            <p class="mt-2 text-sm">Git</p>
          </div>
          <div class="text-center group w-24">
            <Icon
              name="simple-icons:docker"
              class="size-16 mx-auto text-slate-300 group-hover:text-blue-500 transition-colors"
            />
            <p class="mt-2 text-sm">Docker</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
